{% load static %}

<div class="row footer"> 
    <div class=" links">
        <div class="firstCol col" style="border-left: 1px solid #acacac;padding:0.5% 3%;width: 20%">
            <h5>
                <a href="#">درباره ما</a>
            </h5>
            <h5>
                <a href="#">تضمین اصالت کالا</a>
            </h5>
            <h5>
                <a href="#">نحوه بازگشت کالا</a>
            </h5>
            <h5>
                <a href="#">خدمات مشتریان</a>
            </h5>
            <h5>
                <a href="#">سوالات متداول</a>
            </h5>
            <h5>
                <a href="#">خدمات مشتریان</a>
            </h5>
            <h5>
                <a href="#">همکاری با فروشندگان</a>
            </h5>
        </div>
        <div class="secondCol col" style="border-left: 1px solid #acacac;padding:0.5% 3%;width: 20%">
            <h5>
                <a href="#">درباره ما</a>
            </h5>
            <h5>
                <a href="#">تضمین اصالت کالا</a>
            </h5>
            <h5>
                <a href="#">نحوه بازگشت کالا</a>
            </h5>
            <h5>
                <a href="#">خدمات مشتریان</a>
            </h5>
            <h5>
                <a href="#">سوالات متداول</a>
            </h5>
            <h5>
                <a href="#">خدمات مشتریان</a>
            </h5>
        </div>
        <div class="thirdCol col" style="border-left: 1px solid #acacac;padding:0.5% 3%;width: 35%">
            <h4>شماره های تماس:</h4>
            <h4>33215421-33265689
                <br>66611125-36547852</h4>
            <h4>آدرس: خیابان اوستا، بعد از پارک دانشجو، خوابگاه حافظ، پلاک 990، مزون هیناتا</h4>
        </div>
        <div class="fourthCol col" style="text-align: center;width: 25%;vertical-align: middle;">
            <div class="hinataLogo">
                <img src="{% static 'img/logo.png' %}">
            </div>
            <h1 class="hinataText">Hinata</h1>
            <h2 class="hinataSlogan">WE LOVE FASHION</h2>
        </div>
    </div>
    <div class="row socialNet">
        <a href="#">
            <img src="{% static 'img/telegram.png' %}">
        </a>
        <a href="#">
            <img src="{% static 'img/instagram.png' %}">
        </a>
    </div>
</div>