{% load static %}
<nav class="myNav row" style="">
    <div class="col-sm-3 col-xs-6 menuBarDiv">
        <img class="menuBarImg" onclick="openNav()" src="{% static 'img/menuBar.png' %}">
    </div>
    <div class="col-sm-6 col-xs-6 logoDiv">
        <div class="hinataLogo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        <h1 class="hinataText"><a href="/">Hinata</a></h1>
        <h2 class="hinataSlogan">WE LOVE FASHION</h2>
    </div>
    <div class="col-sm-3 userNavDiv">
        <img src="{% static 'img/user.png' %}">
        <div class="col-xs-5" style="text-align: right;">
            {% if request.user.is_anonymous %}
                <span class="loginButton">ورود</span>
                <hr style="border-color: #231f20;margin: 10px 0;" />
                <span class="registerButton">ثبت نام</span>
            {% else %} 
                <a href="{{ user.get_baskets_url }}">{{ request.user.get_full_name }}</a>
            {% endif %}
          </div>
    </div>
</nav>

<nav class="myNav row smallNav" style="display: none;">
    <div class="col-sm-3 col-xs-6 menuBarDiv">
        <img class="menuBarImg" onclick="openNav()" src="{% static 'img/menuBar.png' %}">
    </div>
    <div class="col-sm-6 col-xs-6 logoDiv">
        <div class="hinataLogo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        <h1 class="hinataText"><a href="/">Hinata</a></h1>
        <h2 class="hinataSlogan">WE LOVE FASHION</h2>
    </div>
    <div class="col-sm-3 userNavDiv">
        <img src="{% static 'img/user.png' %}">
        <div class="col-xs-5">
            {% if request.user.is_anonymous %}
                <span class="loginButton">ورود</span>
                <span class="slash">/</span>
                <span class="registerButton">ثبت نام</span>
            {% else %} 
                <a href="{{ user.get_baskets_url }}">{{ request.user.get_full_name }}</a>
            {% endif %}
        </div>  
    </div>
</nav>

<div class="menu" style="display: none;">
    <div class="row">

        <div class="col-lg-4 submenu">
            <ul class="menuList" style="">
                <li>مانتو جلوباز</li>
                <li>مانتو مجلسی</li>
                <li>مانتو بهاره</li>
                <li>مانتو گرم و نرم</li>
                <li>مانتو جلوباز</li>
                <li>مانتو مجلسی</li>
            </ul>

        </div>
        <div class="col-lg-4 submenu">
            
        </div>
        <div class="col-lg-4 submenu">
            <img style="width: 100%;" src="{% static 'img/menu.jpg' %}">
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    {% if request.user.is_anonymous %}
    <a href="#" style="text-align: center; ">
        <span class="col-xs-6">
            ورود
        </span>
        <span class="col-xs-6">
            عضویت
        </span>
    </a>
    {% else %} 
    <a style="text-align: center;padding: 20px;" href="{{ user.get_baskets_url }}">
        <img class="phoneMenuUserImg" src="{% static 'img/user.png' %}">
        <span class="phoneName">{{ request.user.get_full_name }}</span>
    </a>
    {% endif %}
    <a href="#">
        <img class="img-circle phoneMenuImg" src="{% static 'img/cloth1.jpg' %}">
        <span class="phoneName">مانتو جلوباز</span>
    </a>
    <a href="#">
        <img class="img-circle phoneMenuImg" src="{% static 'img/cloth1.jpg' %}">
        <span class="phoneName">مانتو بهاره</span>
    </a>
    <a href="#">
        <img class="img-circle phoneMenuImg" src="{% static 'img/cloth1.jpg' %}">
        <span class="phoneName">کت و شلوار</span>
    </a>
</div>

<div class="loginPopBack PopBack row">
    <div class="loginPop Pop col-lg-4 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-12 col-xs-12">
        <input type="text" name="phone_numberL"><br>
        <input type="text" name="passwordL"><br>
        <button type="submit" id="entrance">ورود</button>
    </div>
</div>

<div class="registerPopBack PopBack row">
    <div class="registerPop Pop col-lg-4 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-12 col-xs-12">
        <input type="text" name="first_nameR"><br>
        <input type="text" name="last_nameR"><br>
        <input type="text" name="phone_numberR"><br>
        <input type="text" name="password1R"><br>
        <input type="text" name="password2R"><br>
        <button id="signup" type="submit">ورود</button>
    </div>
</div>
<div class="shadow" onclick="closeNav()">
    
</div>
<script type="text/javascript">
    var logged='{{ request.user.is_authenticated }}';
</script>
