{% load static %}
<nav class="myNav row" style="">
    <div class="col-sm-3 col-xs-6 menuBarDiv">
        <img class="menuBarImg" src="{% static 'img/menuBar.png' %}">
    </div>
    <div class="col-sm-6 col-xs-6 logoDiv">
        <div class="hinataLogo">
            <img src="{% static 'img/logo.png' %}">
        </div>
        <h1 class="hinataText">Hinata</h1>
        <h2 class="hinataSlogan">WE LOVE FASHION</h2>
    </div>
    <div class="col-sm-3 userNavDiv">
        <img src="{% static 'img/user.png' %}">
        <div class="col-xs-5" style="text-align: right;">
            {% if request.user.is_anonymous %}
                <span class="loginButton">ورود</span>
                <hr style="border-color: #231f20;margin: 10px 0;" />
                <span class="registerButton">ثبت نام</span>
            {% else %} 
                <a href="#">{{ request.user.get_full_name }}</a>
            {% endif %}
            
        </div>
    </div>
</nav>

<nav class="myNav row smallNav" style="display: none;">
    <div class="col-sm-3 col-xs-6 menuBarDiv">
        <img class="menuBarImg" src="{% static 'img/menuBar.png' %}">
    </div>
    <div class="col-sm-6 col-xs-6 logoDiv">
        <div class="hinataLogo">
            <img src="{% static 'img/logo.png' %}">
        </div>
        <h1 class="hinataText">Hinata</h1>
        <h2 class="hinataSlogan">WE LOVE FASHION</h2>
    </div>
    <div class="col-sm-3 userNavDiv">
        <img src="{% static 'img/user.png' %}">
        <div class="col-xs-5">
            {% if request.user.is_anonymous %}
                <span class="loginButton">ورود</span>
                <span class="slash">/</span>
                <span class="registerButton">ثبت نام</span>
            {% else %} 
                <a href="#">{{ request.user.get_full_name }}</a>
            {% endif %}
        </div>  
    </div>
</nav>

<div class="menu" style="display: none;">
    <div class="row">

        <div class="col-lg-4 submenu">
            <ul class="menuList" style="">
                <li>مانتو جلوباز</li>
                <li>مانتو مجلسی</li>
                <li>مانتو بهاره</li>
                <li>مانتو گرم و نرم</li>
                <li>مانتو جلوباز</li>
                <li>مانتو مجلسی</li>
            </ul>

        </div>
        <div class="col-lg-4 submenu">
            
        </div>
        <div class="col-lg-4 submenu">
            <img style="width: 100%;" src="{% static 'img/menu.jpg' %}">
        </div>
    </div>
</div>

<div class="loginPopBack row">
    <div class="loginPop col-lg-4 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-12 col-xs-12">
        sadf
    </div>
</div>
