{% extends "base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/products.css' %}">
{% endblock %}

{% block body %}
	{% include "frontview/header.html" %}
	<div class="row pageSologn">
		<h3>سوکا و هیناتا</h3>
		<h4>زیبا بپوشید و زیبا زندگی کنید </h4>
	</div>
	<div class="row mainContent">
		<div class="row selectBoxes">
			<div class="col-md-6">
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			<div class="col-md-6" style="text-align: left;">
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
		</div>
		<div class="row cards">
			<div class="pCard">
				<a class='link' href='#' > 
					<img class='img-responsive' src='{% static "img/cloth1.jpg" %}' /> 
					<h4 class='text-center' style='margin-top: 16px;margin-bottom: 20px;'>مانتو مجلسی</h4> 
					<div class='row' style="margin-bottom: 15px;"> 
						<div class='col-sm-6 cardIcons' style='margin-top: 6px;'> 
							<img src="{% static 'img/basket.png' %}" class="basketProduct">
							<img src="{% static 'img/like.png' %}" class="likeProduct">
						</div> 
						<div class='col-sm-6 cardPrice'> 
							<span class="productPrice">120000</span> 
						</div> 
					</div> 
				</a> 
			</div>
		</div>
		<div class="moreButton">
			<img src="{% static 'img/refresh.png' %}" style="width: 50px;">
		</div>
	</div>
	{% include "frontview/footer.html" %}
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'script/products.js' %}"></script>
{% endblock %}