{% extends "customer/template.html" %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/basket.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}


{% block content %}
	<div class="row">
        <h2 class="pageTitle">سبد خرید</h2>
    </div>
    <div class="basketContainer row"> 
    	<div class="row">
    		<div class="removeCol"></div>
    		<div class="prodCol">کالا</div>
    		<div class="colorCol">رنگ</div>
    		<div class="sizeCol">سایز</div>
    		<div class="numCol">تعداد</div>
    		<div class="priceCol">قیمت</div>
    	</div>
    	<div class="row">
    		<div class="removeCol"><i class="fas fa-times"></i></div>
    		<div class="prodCol">کالا</div>
    		<div class="colorCol">رنگ</div>
    		<div class="sizeCol">سایز</div>
    		<div class="numCol">تعداد</div>
    		<div class="priceCol">قیمت</div>
    	</div>
    	<div class="row"></div>
    </div>

<!-- Modal -->
<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">عضویت</h4>
            </div>
            <div class="modal-body">
                <input type="text" name="first_nameR" placeholder="نام"><br>
                <input type="text" name="last_nameR" placeholder="نام خانوادگی"><br>
                <input type="text" name="phone_numberR" placeholder="شماره موبایل"><br>
                <input type="password" name="password1R" placeholder="رمز عبور"><br>
                <input type="password" name="password2R" style="margin-bottom: 27px;" placeholder="ایید رمز عبور"><br>
                <button id="signup" type="submit" class="modalBigButton">ورود</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    <script src="{% static 'script/basket.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}