{% extends "customer/template.html" %}
{% load staticfiles %}


{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/favorites.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}


{% block body %}
	<div class="row">
        <h2 class="pageTitle">علاقه مندی ها</h2>
    </div>
{% endblock %}


{% block js %}
	<script src="{% static 'script/favorites.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}