{% extends "customer/template.html" %}
{% load staticfiles %}


{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/orders.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}


{% block content %}
	<div class="row">
        <h2 class="pageTitle">سفارش های جاری</h2>
    </div>
    <div class="ordersContainer">
    	<table class="openOrdersTable">
    		
    	</table>
    </div>

    <div class="row">
        <h2 class="pageTitle">سفارش های قبلی</h2>
    </div>
    <div class="ordersContainer">
    	<table class="closedOrdersTable">
    		
    	</table>
    </div>



{% endblock %}


{% block footer %}
	<script src="{% static 'script/orders.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}