{% extends "customer/template.html" %}
{% load staticfiles %}


{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/orders.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}


{% block content %}
	<div class="row">
        <h2 class="pageTitle">سفارش های جاری</h2>
    </div>
    <div class="ordersContainer">
    	<table class="openOrdersTable">
    		
    	</table>
    </div>

    <div class="row">
        <h2 class="pageTitle">سفارش های قبلی</h2>
    </div>
    <div class="ordersContainer">
    	<table class="closedOrdersTable">
    		
    	</table>
    </div>


<!-- Modal -->
    <div id="cancelOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">لغو سفارش</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: right;">
                        در صورت تمایل دلیل لغو سفارش خود را بنویسید
                    </p>
                    <textarea ></textarea><br>
                    <button type="submit" id="entrance" class="modalBigButton">ارسال درخواست</button>
                </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
        </div>
    </div>



<!-- Modal -->
    <div id="backOrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">بازگشت کالا</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: right;">
                        در صورت تمایل دلیل ل خود را بنویسید
                    </p>
                    <textarea ></textarea><br>
                    <button type="submit" id="entrance" class="modalBigButton">ارسال درخواست</button>
                </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
        </div>
    </div>


{% endblock %}


{% block footer %}
	<script src="{% static 'script/orders.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}