.removeCol,.prodCol,.colorCol,.sizeCol,.numCol,.priceCol{
	display: inline-block;
}
.removeCol{
	width: 5%;
}
.prodCol,.colorCol,.sizeCol{
	width: 21%;
}
.numCol,.priceCol{
	width: 15%;
}
.basketContainer{
	padding: 2% 13%;
	text-align: center;
}
.basketContainer>.row{
	border-bottom: 1px solid gray;
}
.fa-times{
	color: red;
}
.color{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 1px 1px;
    background-color: blue;
    border-radius: 5px;
    margin-bottom: -5px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.size{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: koodak;
    margin: 1px 1px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.shadowDiv{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.scale{
	border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    outline: none;
    padding-right: 10px;
    width: 70px;
    cursor: pointer;
}
.prodImg{
	width: 100%;
}
.prodCol{
	padding: 2% 0%;
}
.bigButton{
	background-color: white;
    border: 1.4px solid #9d9a9a;
    width: 100%;
    font-size: 1.9em;
    border-radius: 10px;
    outline: none;
}
.withoutBorder{
	border-bottom: none !important;
}