html,body{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
	font-family: koodak;
/*	-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-overflow-style: none;
    */
}
.row{
	margin:0;
}
.fullImage{
	width: 100%;
}
.fullImage a{
	cursor: url(https://static.zara.net/stdstatic/1.69.0-b.2/images/superzoom_close.cur), pointer;
}
img{
	width: 100%;
	height: auto;
}
::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}