html, body{
  font-family: 'Samim'!important;
}
.nav-label{
  margin-right: 8px;
}
.navbar-minimalize{
  margin-right: 16px;
}
.navbar{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: none;
    background: #fff;
}
body{
  background-color: #fff;
}
.nav-header{
  background-color: #fff;
  background: url('../images/1mback.jpg');
  background-image: none;
  padding: 20px 25px;
}
.profile-element h3{
  color: #fff;
  font-size: 20px;
  margin-top: 16px;
}
.nav > li > a {
    color: #fff;
}
.nav > li.active{
  background-color: rgba(0,0,0,0.3);
  border-right: 4px solid #333;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
  background-color: rgba(0,0,0,0.3);
}
body.mini-navbar .nav-header {
    padding: 0;
    background-color: rgba(0,0,0,0.3);
}
.onePack{
  background: url('../images/1mback.jpg');
}
.threePack{
  background: url('../images/3mback.jpg');
}
.sixPack{
  background: url('../images/6mback.jpg');
}
.proPack{
  background: url('../images/proback.jpg');
}
.free{
  background: #293846 !important;
}