.myNav{
	position: relative;
	z-index: 98;
	width: 100%;
	background-color: rgba(0,0,0,0);
	height: 20%;
	box-shadow: 0 1px 2px #8e8e8e;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
 	-o-transition: all 1s;
    transition: all 1s;
}
a:hover,a:focus{
	text-decoration: none;
	color: #141414;
}

.logoDiv,.menuBarDiv,.userNavDiv{
	height: 100%;
}
.menuBarImg{
	float: right;
    position: relative;
    top: 40%;
    right: 15%;
    cursor: pointer;
    height: 19%;

}
.logoDiv{
	text-align: center;
	padding: 18px;
}
.hinataLogo img{
	height: 28px;
    width: 67px;
}
.hinataText{
	font-family: 'freestyle';
	font-size: 32pt;
	color: #141414;
	padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
}
.hinataSlogan{
	font-family: arial;
	font-size: 13pt;
	font-weight: 300 !important;
    color: #494646;
    margin: 0;
}
.userNavDiv{
	text-align: center;
	padding: 37px 0;
}
.userNavDiv img{
	width: 37px;
	float: right;
}
.userNavDiv .loggedDiv{
	margin-top: 12px;
	font-size: 1.7rem;
}
.navHr{
	margin: 6px;
	border-color: #494646;
}
@media screen and (max-width: 768px), screen and (max-height: 370px){
	.myNav{
		margin-right:auto;
		background-color: white;
		height: 50px;
		box-shadow: 0 1px 2px #8e8e8e; 
	}
	.userNavDiv,.myNav .hinataSlogan,.myNav .hinataLogo{
		display: none
	}
	.menuBarImg{
	    top: 30%;
	    right: 20px;
	    height: auto;
	    width: 30px;
	}
	.logoDiv{
		padding: 1px;
	}
	.hinataText{
		font-size: 30pt;
		padding-left: 20px;
	}
}

.smallNav{
	position: fixed;
	top:0;
	margin-right:auto;
	background-color: white;
	height: 50px;
	    box-shadow: 0 1px 2px #8e8e8e;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.smallNav .hinataSlogan , .smallNav .hinataLogo{
	display: none;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.smallNav .menuBarImg{
    top: 30%;
    right: 20px;
    height: auto;
    width: 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.smallNav .logoDiv{
	padding: 1px;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.smallNav .hinataText{
	font-size: 30pt;
	padding-left: 20px;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.smallNav .userNavDiv{
	padding-top:7px;
}
.smallNav .userNavDiv img{
	width: 30px;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}	
.menu{
	width:100%;
	background-color: #fff2ff;
	opacity: 0.9;
	position: absolute;
	padding: 2% 7%;
	z-index: 2;
}
.menuList{
	list-style-type: none;
	padding: 0;
	text-align: right;
	font-size: 17px;
}
ul.menuList{
	width: 100%;
    padding-right: 25%;
    padding-left: 25%;
}
.submenu img{
	width: 50%;
}
.menuList li{
	border-bottom: 1px solid #5c5c5c;
	padding: 13px 0;
	color: #5c5c5c;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
 	transition: all 0.2s;
}

.menuList li:hover{
	border-bottom: 1px solid #252525;
	padding: 13px;
	color:252525;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-o-transition: all 0.2s;
 	transition: all 0.2s;
}
.PopBack{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	z-index: 100;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.Pop{
	display: none;
	position: fixed;
	top: 10%;
	background-color: white;
	z-index: 101;
	height: 500px;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 110; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #fefefe; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 25px 8px 25px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #818181;
    display: block;
    transition: 0.3s; 
	border-bottom: .5px solid #e2e2e2;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    width: 100%;
    text-align: left;
	background-color: #f5f5f5;
	cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#mySidenav .phoneMenuUserImg{
	width: 35px;
	text-align: center;
}
.phoneName{
	font-size: 1.8rem;
    margin: auto 1rem;
}
.shadow{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 100;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.phoneMenuImg{
	width: 60px;
	height: 60px;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .menu {
	    padding: 2% 4%;
	}
	ul.menuList{
	    padding-right: 20%;
	    padding-left: 20%;
	}
	.submenu img{
		width: 60%;
	}
	.menuList{
		font-size: 16px;
	}
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.menu {
	    padding: 2% 2%;
	}
	ul.menuList{
	    padding-right: 15%;
	    padding-left: 15%;
	}
	.submenu img{
		width: 70%;
	}
	.menuList{
		font-size: 14px;
	}
}
.menuMainImg{
	position: relative;
    margin: auto;
    z-index: 2;
}
.menuImg{
	position: absolute;
	top: 0;	
	left: 25%;
	z-index: 3;
	display: none;
}