.ordersContainer{
	padding: 2% 5%;
	text-align: center;
}
.openOrdersTable,.closedOrdersTable{
	width: 100%;
	text-align: center;
}
th, td{
	border: 1px solid #acacac;
	padding: 1%;
    font-size: 1.5rem;
}
th{
	text-align: center;
}
.trHead{
	background-color: #f5f5f5;
}
.secondTableContainer{
	text-align: center;
	padding: 2% 10%;
}
.secondTableContainer table{
	width: 100%;
}
.color{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 3px 3px;
    background-color: blue;
    border-radius: 5px;
    margin-bottom: -5px;
}
.size{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: koodak;
    margin: 3px 3px;
    cursor: pointer;
}
.levelsImg{
	width: 150px;
}
.productImg{
	width: 150px;
}
.redBack{
	background-color: #ff5f94;
}
.greenBack{
	background-color: #9afe51;
}
.yellowBack{
	background-color: #fff600;
}
.tickImg{
	width: 40px;
}
.linkButtonAllow{
	color: #4030a0;
    cursor: pointer;
}
.linkButtonDis{
	color: #a7a7a7;
    cursor: not-allowed;
}
.linkButton{
	color: #4030a0;
    cursor: not-allowed;
}
.modal-header{
    text-align: center;
    padding: 10px 15px;
}
.modalBigButton{
    background-color: white;
    border: 1.4px solid #9d9a9a;
    width: 220px;
    font-size: 1.9rem;
    border-radius: 10px;
    outline: none;
    margin: 12px;
}
    
.modal-body{
    text-align: center;
}
.modal-body textarea{
    width: 100%;
    height: 130px;
    margin: 12px 0 40px;
    border-radius: 5px;
    padding: 25px;
    resize: none;
}