{% extends "base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/products.css' %}">
{% endblock %}

{% block body %}
	{% include "frontview/header.html" %}
	<div class="row pageSologn">
		<h3>سوکا و هیناتا</h3>
		<h4>زیبا بپوشید و زیبا زندگی کنید </h4>
	</div>
	<div class="row mainContent">
		<div class="row selectBoxes">
			<div class="col-md-6">
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			<div class="col-md-6" style="text-align: left;">
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
		</div>
		<div class="row cards">
			
		</div>
		<div class="moreButton">
			<img src="{% static 'img/refresh.png' %}" style="width: 50px;">
		</div>
	</div>
	{% include "frontview/footer.html" %}
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'script/products.js' %}"></script>
{% endblock %}